# General
bin
tmp

# JavaScript Build
public/css
public/js
target/js

# Grunt
.grunt
node_modules

# GruntTS
.tscache
*.html.ts

# Bower
bower_components

# Jasmine
_SpecRunner.html
public/tests.html

# IDE project files
*.iml
.idea
.idea_modules
.cache
.classpath
.project
.boot
.target

