<div class="tasklist">
    <form>
        <label for="newTaskDescription">Task:</label>
        <input id="newTaskDescription" ng-model="taskForm.description" placeholder="A task is a single action that has a definition of done"/>
        <button id="createNewTask" ng-click="createTask(taskForm)">Add</button>
    </form>
    <ul>
        <li ng-repeat="task in tasks | filter: filterCompleted">
            <input id="{{ task.id }}" type="checkbox"
                   ng-model="task.completed"/>
            <label for="{{ task.id }}">{{ task.description }}</label>
        </li>
    </ul>
    <input id="showInactive" type="checkbox" ng-model="showCompleted"/>
    <label for="showInactive">Show completed tasks</label>
</div>